<div class="wrapp-card">
        <mat-card *ngFor="let category of categories" class="example-card">
          
                <mat-card-title >{{category.title}}</mat-card-title>
                <div *ngFor="let todo of category.todos">
                    <mat-checkbox class="todo_style" 
                    (change)="checkedTodo({todo: todo, categoryId: category._id})" 
                    [checked]="todo.isCompleted"
                    [disabled]="todo.isCompleted"
                    >{{todo.text}}</mat-checkbox>
                </div>
        
        </mat-card>
</div>