.example-card {
    max-width: 350px;
    // width: 350px;
    min-width: 200px;
    margin: 20px;
}

.wrapp-card {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    // max-width: 350px;
}

.mat-checkbox-disabled{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}
