.example-card {
    // max-width: 350px;
    width: 28%;
    min-width: 300px;
    margin: 20px;
}
@media screen and (max-width: 1390px) {
    .example-card {
        width: 25%;
    }
}

@media screen and (max-width: 1010px) {
    .example-card {
        width: 40%;
    }
}
@media screen and (max-width: 760px) {
    .example-card {
        width: 100%;
    }
}
.wrapp-card {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.mat-checkbox-disabled{
    text-decoration: line-through;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
