<div class="flex-col">
    <h1>Новая задача</h1>
    <form action="" [formGroup]="profileForm">
        <mat-form-field>
            <input 
            matInput 
            class="form-control"
            formControlName="todo"
            placeholder="Название задачи"
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Категория</mat-label>
            <mat-select formGroupName="_id">
              <mat-option *ngFor="let title of titels" [value]="title._id">
                <!-- <ng-content [value]="title.title"></ng-content>  -->
                  {{title.title}}
                </mat-option>
              <mat-option (click)="switchCastomTitle()">Новая категория</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isCastomTitle">
            <input 
            matInput 
            class="form-control"
            formControlName="title"
            placeholder="Новая категория"
            />
        </mat-form-field>
        <div class="flex-row">
            <button mat-raised-button (click)="onNoClick()">отмена</button>
            <button mat-raised-button [disabled]="profileForm.status !== 'VALID'" (click)="saveCategoryTodo()">Ok</button>
        </div>
    </form>
</div>
